/* RESET DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: aliceblue;
    background-image: url();

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 20px;
}

p {
    text-align: justify;
    font-size: 20px;
    margin: 20px 70px;

}